In [1]:
from scipy import stats
import numpy as np
import pandas as pd

# 1
A bank found that the average number of cars waiting during the noon hour at a drive-up window follows a Poisson distribution with a mean of 2 cars. Make a chart of this distribution and answer these questions concerning the probability of cars waiting at the drive-up window.

- What is the probability that no cars drive up in the noon hour?
- What is the probability that 3 or more cars come through the drive through?
- How likely is it that the drive through gets at least 1 car?

In [2]:
#1
cars_theory = stats.poisson(2)
cars_theory.pmf(0)

0.1353352832366127

In [3]:
cars_sim = np.random.poisson(2, size=100000)
(cars_sim==0).mean()

# cars_theory = stats.poisson(2).rvs(100000)

0.13516

In [4]:
cars_theory.sf(2)

0.32332358381693654

In [5]:
(cars_sim>=3).mean()

0.32336

In [6]:
cars_theory.sf(0)

0.8646647167633873

In [7]:
(cars_sim>=1).mean()

0.86484

# 2
Grades of State University graduates are normally distributed with a mean of 3.0 and a standard deviation of .3. Calculate the following:

- What grade point average is required to be in the top 5% of the graduating class?
- What GPA constitutes the bottom 15% of the class?
- An eccentric alumnus left scholarship money for students in the third decile from the bottom of their class. Determine the range of the third decile. Would a student with a 2.8 grade point average qualify for this scholarship?
- If I have a GPA of 3.5, what percentile am I in?

In [8]:
grades_theory = stats.norm(3,.3)
grades_theory.isf(.05)

3.4934560880854417

In [9]:
grades_sim = np.random.normal(3,.3, size=100000)
np.percentile(grades_sim,95)

3.4941450887475054

In [10]:
grades_theory.ppf(.15)

2.689069983151863

In [11]:
np.percentile(grades_sim,15)

2.6896401033354516

In [44]:
s_th_min = grades_theory.ppf(.2)
s_th_max = grades_theory.ppf(.3)
# scholarship = []
# scholarship.append(s_th_min)
# scholarship.append(s_th_max)
s_th_min, s_th_max

(2.7475136299281258, 2.842679846187588)

In [13]:
s_sim_min = np.percentile(grades_sim,20)
s_sim_max = np.percentile(grades_sim,30)
s_sim_max - s_sim_min

0.0939240151848919

In [45]:
grades_theory.cdf(3.5)

0.9522096477271853

In [46]:
(grades_sim <= 3.5).mean()

0.95186

# 3
A marketing website has an average click-through rate of 2%. One day they observe 4326 visitors and 97 click-throughs. 
- How likely is it that this many people or more click through?

In [16]:
stats.binom(4326,.02).sf(96)

0.1397582363130086

In [54]:
# clicks = np.random.choice([0,1], p=(.98,.02), size=(10000,4326))
# (clicks.sum(axis=1) >= 97).mean()

(stats.binom(4326,.02).rvs(100000) > 96).mean()

0.13974

In [53]:
97/4326

0.022422561257512713

# 4
You are working on some statistics homework consisting of 100 questions where all of the answers are a probability rounded to the hundreths place. Looking to save time, you put down random probabilities as the answer to each question.

- What is the probability that at least one of your first 60 answers is correct?

In [19]:
stats.binom(60,.01).sf(0)

0.4528433576092388

In [55]:
# answers = np.random.choice([0,1], p=(.99,.01), size=(10000,60))
# (answers.sum(axis=1) >= 1).mean()

(stats.binom(60,.01).rvs(100000) > 0).mean()

0.45306

# 5
The codeup staff tends to get upset when the student break area is not cleaned up. Suppose that there's a 3% chance that any one student cleans the break area when they visit it, and, on any given day, about 90% of the 3 active cohorts of 22 students visit the break area. 
- How likely is it that the break area gets cleaned up each day?
- How likely is it that it goes two days without getting cleaned up? 
- All week?

In [21]:
students = (np.random.choice([0,1], p=(.1,.9), 
                size=(10000,66)).sum(axis=1)).mean()
students

59.3968

In [22]:
stats.binom(59,.03).sf(0)

0.8342199288437355

In [57]:
# students = (np.random.choice([0,1], p=(.97,.03), 
#                 size=(100000,59)).sum(axis=1))
# (students > 0).mean()

(stats.binom(59,.03).rvs(100000) > 0).mean()

0.83498

In [24]:
stats.binom(59*2,.03).pmf(0)

0.02748303199257623

In [25]:
students = (np.random.choice([0,1], p=(.97,.03), 
                size=(100000,59*2)).sum(axis=1))
(students == 0).mean()

0.02713

In [26]:
stats.binom(59*5,.03).pmf(0)

0.00012521651388091353

In [58]:
# students = (np.random.choice([0,1], p=(.97,.03), 
#                 size=(100000,59*5)).sum(axis=1))
# (students == 0).mean()

(stats.binom(59*5,.03).rvs(100000) == 0).mean()

0.00012

# 6
You want to get lunch at La Panaderia, but notice that the line is usually very long at lunchtime. After several weeks of careful observation, you notice that the average number of people in line when your lunch break starts is normally distributed with a mean of 15 and standard deviation of 3. 
- If it takes 2 minutes for each person to order, and 10 minutes from ordering to getting your food, what is the likelihood that you have at least 15 minutes left to eat your food before you have to go back to class? 

Assume you have one hour for lunch, and ignore travel time to and from La Panaderia.

In [64]:
stats.norm(15,3).cdf((60-(12+15)) / 2)

0.6914624612740131

In [59]:
people = np.random.normal(15,3, size=(10000))
((60 - (people * 2 + 12)) >= 15).mean()

0.6957

# 7
Connect to the employees database and find the average salary of current employees, along with the standard deviation. Model the distribution of employees salaries with a normal distribution and answer the following questions:

- What percent of employees earn less than 60,000?
- What percent of employees earn more than 95,000?
- What percent of employees earn between 65,000 and 80,000?
- What do the top 5% of employees make?

In [31]:
from env import user, host, password

def get_db_url(user, host, password, db_name):
    return f'mysql+pymysql://{user}:{password}@{host}/{db_name}'

url = get_db_url(user, host, password, 'employees')
db = pd.read_sql('SELECT * FROM salaries', url)

db

         emp_no  salary   from_date     to_date
0         10001   60117  1986-06-26  1987-06-26
1         10001   62102  1987-06-26  1988-06-25
2         10001   66074  1988-06-25  1989-06-25
3         10001   66596  1989-06-25  1990-06-25
4         10001   66961  1990-06-25  1991-06-25
...         ...     ...         ...         ...
2844042  499999   63707  1997-11-30  1998-11-30
2844043  499999   67043  1998-11-30  1999-11-30
2844044  499999   70745  1999-11-30  2000-11-29
2844045  499999   74327  2000-11-29  2001-11-29
2844046  499999   77303  2001-11-29  9999-01-01

[2844047 rows x 4 columns]

In [32]:
db = db[db['to_date'].astype(str).isin(['9999-01-01'])]

In [33]:
sal_mean = db['salary'].mean()
sal_mean

72012.23585730705

In [34]:
sal_stdev = db['salary'].std()
sal_stdev

17309.99538025198

In [35]:
stats.norm(sal_mean,sal_stdev).cdf(60000)

0.24385742480214423

In [36]:
(db['salary'] < 60000).mean()

0.2705727041028802

In [37]:
stats.norm(sal_mean,sal_stdev).sf(95000)

0.09208819199804053

In [38]:
(db['salary'] > 95000).mean()

0.1086272092752078

In [39]:
(stats.norm(sal_mean,sal_stdev).cdf(80000) - 
    stats.norm(sal_mean,sal_stdev).cdf(65000))

0.3350605685446666

In [40]:
((db['salary'] >= 65000) & (db['salary'] < 80000)).mean()

0.32514450867052025

In [41]:
stats.norm(sal_mean,sal_stdev).isf(.05)

100484.64454102777

In [42]:
db['salary'].quantile(.95)

104225.84999999998

In [43]:
db['salary'].max()

158220